httplib2
PIL
south
django-extensions
simplejson

-e git+git@github.com:jess3/django.git#egg=django
-e git+git@github.com:jess3/django-social-auth.git#egg=django-social-auth
-e git+https://github.com/alex/django-taggit.git#egg=taggit