{% extends "base.html" %}

{% block title %}Menu - Detail{% endblock %}

{% block body_class %}menus detail has-table{% endblock %}

{% block main_nav %}
<li><a href="/recipes/">Recipes</a></li>
<li class="active"><a href="/menus/">Menus</a></li>
<li><a href="/meal-plans/">Meal Plans</a></li>
{% endblock %}

{% block content %}
<h3><a href="/menus/">Back to Menus</a></h3>
<h1 class="left">{{menu.name}}</h1><a class="right" id="add_to_meal_plan" href="add">Add To Menu</a>
<table>
    <thead>
        <tr>
            <th class="image" scope="col">Image</th>
            <th class="name" scope="col">Name</th>
            <th class="rating" scope="col">Rating</th>
            <th class="view" scope="col"></th>
            {% if can_delete %}<th class="delete" scope="col"></th>{% endif %}
        </tr>
    </thead>
    <tbody>
        {% for recipe in menu.recipes.all %}
            <tr>
                <td><a href="{% url recipe_detail recipe.id %}"><img src="{{recipe.get_image.thumbnail.url}}" width="100" height="70"></a></td>
                <td>{{recipe.name}}</td>
                <td class="rating"><span class="rating" style="width:{{ recipe.rating|div:'5'|mul:"140" }}px">{{recipe.rating}} out of 5</span></td>
                <td><a href="{% url recipe_detail recipe.id %}">View</a></td>
                {% if can_delete %}<td><a href="{% url menu_remove_recipe menu.id recipe.id %}">Remove From Menu</a></td>{% endif %}
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}