{% extends "base.html" %}

{% block title %}Menus{% endblock %}

{% block body_class %}menus has-table{% endblock %}

{% block main_nav %}
<li><a href="/recipes/">Recipes</a></li>
<li class="active"><a href="/menus/">Menus</a></li>
<li><a href="/meal-plans/">Meal Plans</a></li>
{% endblock %}

{% block sidebar %}
    <h3>Filter by Tag</h3>
    <ul>
        {% for tag in all_tags %}
            <li><a href="{% url menus_by_tag tag.slug %}">{{ tag.name }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}

{% block content %}
<h1>All Menus</h1>
<table data-itemtype="menus.menu">
    <thead>
        <tr>
            {% if user.is_authenticated %}<th class="favorite" scope="col">Favorite</th>{% endif %}
            <th class="image" scope="col">Image</th>
            <th class="name" scope="col">Title</th>
            <th class="rating" scope="col">Rating</th>
            <th class="view" scope="col"></th>
        </tr>
    </thead>
    <tbody>
    {% for menu in menus.object_list %}
        <tr data-id="{{ menu.pk }}">
            {% if user.is_authenticated %}<td><a class="favorite" href="javascript:;">Favorite</a></td>{% endif %}
            <td><a href="{% url menu_detail menu.pk %}"><img src="{{ menu.get_image.thumbnail.url }}" width="100" height="70"></a></td>
            <td>{{ menu.name }}</td>
            <td class="rating"><span class="rating" style="width:{{ menu.rating|div:'5'|mul:"140" }}px">{{menu.rating}} out of 5</span></td>
            <td><a href="{% url menu_detail menu.pk %}">View</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<div class="pagination">
    <span class="step-links">
        {% if menus.has_previous %}
            <a href="?page={{ menus.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ menus.number }} of {{ menus.paginator.num_pages }}.
        </span>

        {% if menus.has_next %}
            <a href="?page={{ menus.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

{% endblock %}