{% extends "base.html" %}

{% block title %}Menus{% endblock %}

{% block body_class %}menus has-table{% endblock %}

{% block main_nav %}
<li><a href="/recipes/">Recipes</a></li>
<li class="active"><a href="/menus/">Menus</a></li>
<li><a href="/meal-plans/">Meal Plans</a></li>
{% endblock %}

{% block content %}
<h1>All Menus</h1>
<table>
    <thead>
        <tr>
            <th class="image" scope="col">Image</th>
            <th class="name" scope="col">Name</th>
            <th class="rating" scope="col">Rating</th>
            <th class="view" scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for menu in menus%}
        <tr>
            <td><img src="{{MEDIA_URL}}{{menu.thumbnail}}" width="100" height="70"></td>
            <td>{{menu.name}}</td>
            <td class="rating"><span class="rating" style="width:{{ menu.rating|div:'5' }}%">{{menu.rating}} out of 5</td>
            <td><a href="menu/{{menu.id}}">View</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}