{% extends "base.html" %}
{% block extra_head %}<script src="/static/js/live-validation.min.js" type="text/javascript" charset="utf-8"></script>{% endblock %}
{% block title %}Add Recipe{% endblock %}

{% block body_class %}menus add{% endblock %}

{% block main_nav %}
<li class="active"><a href="/recipes/">Recipes</a></li>
<li><a href="/menus/">Menus</a></li>
<li><a href="/meal-plans/">Meal Plans</a></li>
{% endblock %}

{% block content %}
<img class="left" src="/static/img/example_image.png" width="400" />
<h1>Add Your Own Recipe</h1>
<form method="POST" name="add_recipe">{% csrf_token %}
    <fieldset>
        <legend>Recipe Information</legend>
        <p>
            <label for="recipe_name">Recipe Name</label>
            <br />
            <input type="text" class="title" name="recipe_name" id="recipe_name" value="Chicken Marsala" />
            <script>
            var recipe_name = new LiveValidation('recipe_name');
            recipe_name.add( Validate.Presence );
            </script>
        </p>
        <p>
            <label for="recipe_name">Recipe Description</label>
            <br />
            <input type="text" class="title" name="recipe_description" id="recipe_description" value="A great recipe!" />
            <script>
            var recipe_description = new LiveValidation('recipe_description');
            recipe_description.add( Validate.Presence );
            </script>
        </p>
    </fieldset>
    <fieldset class="tags clear">
        <legend>Tags</legend>
        <p>
            <input type="text" class="title" name="recipe_tags" id="recipe_tags" value="chicken,awesome" />
            <script>
            var recipe_tags = new LiveValidation('recipe_tags');
            recipe_tags.add( Validate.Presence );
            </script>
        </p>
    </fieldset>
    
    <fieldset class="ingredients clear">
        <legend>Ingredients</legend>
        <input type="hidden" name="num_ingredients" id="num_ingredients" value="{{ initial_ingredients|length }}" />
        {% for ingredient in initial_ingredients %}
        <p>
            <label for="ingredient_{{forloop.counter}}">Ingredient {{forloop.counter}}</label>
            <br>
            <input type="text" class="title" name="ingredient_{{forloop.counter}}" id="ingredient_{{forloop.counter}}" value="{% if forloop.counter == 1%}Enter first ingredient...{% endif %}{% if forloop.counter > 1 %}And another ingredient...{% endif %}" />

            <input type="text" style="margin-left:20px; width:170px;" class="title" name="ingredient_{{forloop.counter}}_quantity" id="ingredient_{{forloop.counter}}_quantity" value="Enter quantity..." />

            <script>
            var ingredient_{{forloop.counter}} = new LiveValidation('ingredient_{{forloop.counter}}');
            ingredient_{{forloop.counter}}.add( Validate.Presence );
            </script>
        </p>
        {% endfor %}
        <a class="add-another" href="javascript:;">+ Add Another Ingredient</a>
    </fieldset>
    <fieldset>
        <legend>Directions</legend>
        <p>
            <label for="directions">Directions</label>
            <br />
            <textarea name="directions" id="directions" rows="5" cols="20"></textarea>
            
            <script>
            var directions = new LiveValidation('directions');
            directions.add( Validate.Presence );
            </script>
        </p>
        <p>
            <em>Example</em>
            <div class="info directions">
                <h2>Directions</h2>
                <p>Preheat the oven to 400 degrees F. Line a sheet pan with parchment paper.</p>
                <p>Place each chicken breast between 2 sheets of parchment paper or plastic wrap and pound out to 1/4-inch thick. Sprinkle both sides with salt and pepper.</p>
                <p>Mix the flour, 1/2 teaspoon salt, and 1/4 teaspoon of pepper in a shallow plate. In a second plate, beat the egg and 1/2 tablespoon of water together. Place the bread crumbs on a third plate. Dip each chicken breast first in the flour, shake off the excess, and then dip in the egg and bread crumb mixtures.</p>
                <p>Heat 1 tablespoon of olive oil in a large saute pan over medium to medium-low heat. Add the chicken breasts and cook for 2 minutes on each side, until browned. Place them on the sheet pan and allow them to bake for 5 to 10 minutes while you make the sauce.</p>
                <p>For the sauce, wipe out the saute pan with a dry paper towel. Over medium heat, melt 1 tablespoon of the butter and then add the lemon juice, wine, the reserved lemon halves, 1/2 teaspoon salt, and 1/4 teaspoon pepper. Boil over high heat until reduced in half, about 2 minutes. Off the heat, add the remaining 2 tablespoons of butter and swirl to combine. Discard the lemon halves and serve 1 chicken breast on each plate. Spoon on the sauce and serve with a slice of lemon and a sprinkling of fresh parsley.</p>
            </div>
        </p>
    </fieldset>
    
{#    <fieldset>#}
{#        <legend>Optional Information</legend>#}
{#        <p>#}
{#            <label for="recipe_photos">Upload Photos</label>#}
{#            <br />#}
{#            <input type="file" class="title" name="recipe_photos" id="recipe_photos" value="" />#}
{#        </p>#}
{#        <p>#}
{#            <a href="javascript:;" id="add_to_menu">Add To Menu</a>#}
{#            <div class="hidden">#}
{#                <div class="lightbox">#}
{#                    <select class="menu_selector">#}
{#                        {% for menu in user.menus  %}#}
{#                            <option value="{{menu.title}}">{{menu.title}}</option>#}
{#                        {% endfor %}#}
{#                    </select>#}
{#                </div>#}
{#            </div>#}
{#        </p>#}
{#    </fieldset>#}

    <input type="submit" name="submit" class="submit" value="Submit"/>

</form>

{% endblock %}