{% extends "base.html" %}

{% block title %}Recipes{% endblock %}

{% block body_class %}recipes detail{% endblock %}

{% block main_nav %}
<li class="active"><a href="/recipes/">Recipes</a></li>
<li><a href="/menus/">Menus</a></li>
<li><a href="/meal-plans/">Meal Plans</a></li>
{% endblock %}

{% block content %}

<img class="left" src="{{ recipe.get_image.orig_photo.url }}" width="400" />

<h1>{{ recipe.name }}</h1>
<div class="meta">
    <p><b>Tags:</b>
        {% for tag in recipe.tags.all %}
            <a href="#">{{ tag.name }}</a>, 
        {% endfor %}</p>
    <p><b>Rating:</b> {{ recipe.rating }} out of 5</p>
    <p><b>Description:</b> {{ recipe.description }}</p>
</div>
<div class="ingredients clear">
    <h2>Ingredients</h2>
    <ul>
        {% for ingredient in recipe.ingredients.all %}
        <li>{{ ingredient.quantity }} {{ ingredient.description }}</li>
        {% endfor %}
    </ul>
</div>
<div class="directions clear">
    <h2>Directions</h2>
    {{ recipe.directions|linebreaks }}
</div>

{% endblock %}