{% extends "base.html" %}

{% block title %}Recipes{% endblock %}

{% block body_class %}recipes has-table{% endblock %}

{% block main_nav %}
<li class="active"><a href="/recipes/">Recipes</a></li>
<li><a href="/menus/">Menus</a></li>
<li><a href="/meal-plans/">Meal Plans</a></li>
{% endblock %}

{% block sidebar %}
    <h3>Filter by Tag</h3>
    <ul>
        {% for tag in all_tags %}
            <li><a href="/recipes/tags/{{ tag.slug }}/">{{ tag.name }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}


{% block content %}
<h1>All Recipes</h1>

<table>
    <thead>
        <tr>
            <th class="image" scope="col">Image</th>
            <th class="name" scope="col">Name</th>
            <th class="rating" scope="col">Rating</th>
            <th class="view" scope="col"></th>
        </tr>
    </thead>
    <tbody>
    {% for recipe in recipes %}
        <tr>
            <td><img src="{{ recipe.get_image.thumbnail.url }}" width="100" height="70"></td>
            <td>{{ recipe.name }}</td>
            <td class="rating"><span class="rating" style="width:{{ recipe.rating|div:'5' }}%">{{recipe.rating}} out of 5</td>
            <td><a class="recipe-link" href="{% url recipe_detail recipe.id %}">View</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>


{% endblock %}