{% extends "base.html" %}

{% block title %}Recipes{% endblock %}

{% block body_class %}recipes has-table{% endblock %}

{% block main_nav %}
<li class="active"><a href="/recipes/">Recipes</a></li>
<li><a href="/menus/">Menus</a></li>
<li><a href="/meal-plans/">Meal Plans</a></li>
{% endblock %}

{% block sidebar %}
    <h3>Filter by Tag</h3>
    <ul>
        {% for tag in all_tags %}
            <li><a href="/recipes/tags/{{ tag.slug }}/">{{ tag.name }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}


{% block content %}
<h1>All Recipes</h1>{% if user.is_authenticated %}<a id="add_recipe" style="float:left;" href="{% url add_recipe %}">Add Recipe</a>{% endif %} 
<table>
    <thead>
        <tr>
            <th class="image" scope="col">Image</th>
            <th class="name" scope="col">Name</th>
            <th class="rating" scope="col">Rating</th>
            <th class="view" scope="col"></th>
        </tr>
    </thead>
    <tbody>
    {% for recipe in recipes.object_list %}
        <tr>
            <td><a href="{% url recipe_detail recipe.id %}"><img src="{{recipe.get_image.thumbnail.url}}" width="100" height="70"></a></td>
            <td>{{ recipe.name }}</td>
            <td class="rating"><span class="rating" style="width:{{ recipe.rating|div:'5'|mul:"140" }}px">{{recipe.rating}} out of 5</span></td>
            <td><a class="recipe-link" href="{% url recipe_detail recipe.id %}">View</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<div class="pagination">
    <span class="step-links">
        {% if recipes.has_previous %}
            <a href="?page={{ recipes.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ recipes.number }} of {{ recipes.paginator.num_pages }}.
        </span>

        {% if recipes.has_next %}
            <a href="?page={{ recipes.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>


{% endblock %}