{% extends "base.html" %}

{% block title %}Meal Plans{% endblock %}

{% block body_class %}meal-plans has-table{% endblock %}

{% block main_nav %}
<li><a href="/recipes/">Recipes</a></li>
<li><a href="/menus/">Menus</a></li>
<li class="active"><a href="/meal-plans/">Meal Plans</a></li>
{% endblock %}

{% block content %}
<h3><a href="/meal-plans/">Back to Meal Plans</a></h3>
<h1>Meal Plans in '{{ tag.name }}'</h1>
<table>
    <thead>
        <tr>
            <th class="image" scope="col">Image</th>
            <th class="name" scope="col">Name</th>
            <th class="rating" scope="col">Rating</th>
            <th class="view" scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for meal_plan in meal_plans  %}
        <tr>
            <td><a href="{% url meal_plan_detail meal_plan.id %}"><img src="{{meal_plan.get_image.thumbnail.url}}" width="100" height="70"></a></td>
            <td>{{meal_plan.name}}</td>
            <td class="rating"><span class="rating" style="width:{{ meal_plan.rating|div:'5'|mul:"140" }}px">{{meal_plan.rating}} out of 5</span></td>
            <td><a href="{% url meal_plan_detail meal_plan.id %}">View</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}