{% extends "base.html" %}

{% block title %}Meal Plans{% endblock %}

{% block body_class %}meal-plans has-table{% endblock %}

{% block main_nav %}
<li><a href="/recipes/">Recipes</a></li>
<li><a href="/menus/">Menus</a></li>
<li class="active"><a href="/meal-plans/">Meal Plans</a></li>
{% endblock %}

{% block sidebar %}
    <h3>Filter by Tag</h3>
    <ul>
        {% for tag in all_tags %}
            <li><a href="{% url meal_plans_by_tag tag.slug %}">{{ tag.name }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}

{% block content %}
<h1>All Meal Plans</h1>
<table data-itemtype="meal_plans.mealplan">
    <thead>
        <tr>
            {% if user.is_authenticated %}<th class="favorite" scope="col">Favorite</th>{% endif %}
            <th class="image" scope="col">Image</th>
            <th class="name" scope="col">Name</th>
            <th class="rating" scope="col">Rating</th>
            <th class="view" scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for meal_plan in meal_plans.object_list %}
        <tr data-id="{{ meal_plan.pk }}">
            {% if user.is_authenticated %}<td><a class="favorite" href="javascript:;">Favorite</a></td>{% endif %}
            <td><a href="{% url meal_plan_detail meal_plan.id %}"><img src="{{meal_plan.get_image.thumbnail.url}}" width="100" height="70"></a></td>
            <td>{{meal_plan.name}}</td>
            <td class="rating"><span class="rating" style="width:{{ meal_plan.rating|div:'5'|mul:"140" }}px">{{meal_plan.rating}} out of 5</span></td>
            <td><a href="{% url meal_plan_detail meal_plan.id %}">View</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="pagination">
    <span class="step-links">
        {% if meal_plans.has_previous %}
            <a href="?page={{ meal_plans.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ meal_plans.number }} of {{ meal_plans.paginator.num_pages }}.
        </span>

        {% if meal_plans.has_next %}
            <a href="?page={{ meal_plans.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

{% endblock %}